{% extends 'book/base.html' %}
{% block content %}
    <div class="about">
        <H1>Welcome to SmartBookShop!!!</H1>
        <h2>Bookshop is an online bookstore that aims to help small, independent bookstores by providing financial support.
         Bookstores, in our opinion, are essential for a healthy community. They're where authors can interact with readers, where we can learn about new authors, and where kids can develop a lifelong love of reading. They also serve as community and downtown anchors.Bookshop's platform and software is currently a beta version which is still undergoing development, testing, and improvements before its final release.

           Should you encounter any bugs, glitches, lack of functionality or other problems on Bookshop during our beta, please let us know immediately. Your help improving our site is greatly appreciated!</h2>
    </div>

{% endblock %}