<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% static 'book/js/bootstrap.js' %}"></script>
        <link rel="stylesheet" href="{% static 'book/css/bootstrap.css' %}">
        <title>Book</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SmartBookshop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'EmployeeDetailForm' %}">Add Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookform' %}">Add Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'matplot' %}">Show Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'customerDetailsForm' %}">Add Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'orderDetailsForm' %}">Make order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'WarehouseMainForm' %}">Add Warehouse</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="container mt-5">
        {% block content %} 
        
        
        {% endblock content %}
    </div>
    
    <script src="{% static 'book/js/jquery.js' %}"></script>
    <script src="{% static 'book/js/popper.js' %}"></script>
</body>
</html>